<template>
  <div>
    <p>Fluxor permet de recevoir par courriel ses flux RSS. On y accède de 3 manières :</p>

    <div class="grid-x grid-margin-x">
      <div class="cell small-4">Par ce site</div>
      <div class="cell small-4">
        <button v-on:click="alertWip" type="button" class="button">Par le bot</button>
      </div>
      <div class="cell small-4">
        <button v-on:click="alertWip" type="button" class="button">Par l’API</button>
      </div>
    </div>

    <h2>Flux</h2>
    <ul>
      <template v-for="(feed, index) in feeds">
        <li class="feed" :key="index">
          <a :href="feed.uri" rel="external">{{ feed.name }}</a>
        </li>
      </template>
    </ul>
    <h3>Ajouter</h3>
    <form>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div v-if="errors.length" class="cell">
            <p>
              <b>Please correct the following error(s):</b>
              <ul>
                <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
              </ul>
            </p>
          </div>
          <div class="medium-6 cell">
            <label>URL <input v-model="form.uri" class="input" type="url" placeholder="Adresse"></label>
          </div>
          <div class="medium-3 cell">
            <label>Nom
              <input v-model="form.name" class="input" type="text" placeholder="Nom"></label>
          </div>
          <div class="medium-3 cell">
            <button v-on:click="submitFeed" type="button" class="button">Ajouter</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Home',
  data() {
    return {
      msg: 'Fluxor',
      feeds: [],
      errors: [],
      form: {
        name: '',
        uri: ''
      }
    }
  },
  created() {
    var vm = this
    axios.get(this.$apiUrl + 'feeds.json').then(function(response) {
      vm.feeds = response.data
    })
  },
  methods: {
    alertWip: function() {
      alert('WIP')
    },
    submitFeed() {
      axios
        .post(this.$apiUrl + 'feeds/', this.form)
        .then(response => {
          this.feeds.push(response.data)
        })
        .catch(error => {
          console.log(error)
          if (error.response.data.uri) {
          }
          this.errors.push(error.response.data.uri)
        })
    }
  }
}
</script>
