<template>
  <div id="app">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <div class="top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <li class="menu-text">Fluxor</li>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="menu">
                <li>
                  <a href="#">A</a>
                </li>
                <li>
                  <a href="#">B</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cell">
          <router-view/>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
@import 'scss/style';
</style>
